{erl_opts, [{i, "src"}, warnings_as_errors, {w, all}, warn_export_all]}.

{eunit_opts, [{report, {eunit_surefire, [{dir, "."}]}}]}.

{cover_enabled, true}.
{validate_app_modules, true}.

{xref_checks, [fail_on_warning, undefined_function_calls]}.

{clean_files, [".test/", ".eunit", "ebin/*.beam"]}.
